{% extends "book_outlet/base.html" %}
{% load custom_filters %}
{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
<h1>{{ title }}</h1>
<h2>{{ author }}</h2>
<p>This Book has a rating of
    {% for i in rating|to_range %}
    ⭐
    {% endfor %}<br>
    {% if is_bestseller %}
    And is a Bestseller
    {% else %}
    But isn't Bestselling
    {% endif %}
</p>
<h2>Reviews:</h2>
<ul>
    {% for review in bookreview %}
    <li>
        <strong>{{ review.user_name }}</strong>
        <p>{{ review.review_text }}</p>
        <p>Rating:
            {% for i in review.rating|to_range %}
            ⭐
            {% endfor %}
        </p>
    </li>
    {% empty %}
    <li>No reviews yet.</li>
    {% endfor %}
</ul>
{% if book %}
<form action="{% url 'book-detail' book.slug %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit Review</button>
</form>
{% endif %}
{% endblock content %}